Repository abapGit/abapGit, pull requests merged in 2022-08, with the labels that each got.

#5709 [AFF] More detailed error msg
  src/objects/aff/zcl_abapgit_object_common_aff.clas.abap
Labels: aff

#5714 Deal with empty active version (object was never activated)
  src/objects/aff/zcl_abapgit_object_common_aff.clas.abap
Labels: bug, aff

#5704 [AFF] deserialize INTF metadata as JSON
  src/objects/aff/zcl_abapgit_json_handler.clas.abap
  src/objects/aff/zif_abapgit_aff_type_mapping.intf.abap
  src/objects/zcl_abapgit_object_intf.clas.abap
  src/objects/zcl_abapgit_object_intf.clas.locals_imp.abap
  src/objects/zcl_abapgit_object_intf.clas.testclasses.abap
Labels: aff

#5707 New Object EVTB based on AFF
  src/objects/aff/zcl_abapgit_object_evtb.clas.abap
  src/objects/aff/zcl_abapgit_object_evtb.clas.xml
Labels: aff

#5717 advanced dropdown: add separators
  src/ui/zcl_abapgit_gui_page_repo_view.clas.abap
Labels: user interface

#5716 fix some background colors
  src/ui/zcl_abapgit_gui_page_addofflin.clas.abap
  src/ui/zcl_abapgit_gui_page_addonline.clas.abap
  src/ui/zcl_abapgit_gui_page_commit.clas.abap
  src/ui/zcl_abapgit_gui_page_ex_object.clas.abap
  src/ui/zcl_abapgit_gui_page_sett_glob.clas.abap
  src/ui/zcl_abapgit_gui_page_sett_pers.clas.abap
Labels: user interface

#5732 Fix regression in non-Unicode systems
  src/repo/zcl_abapgit_dot_abapgit.clas.abap
Labels: bug

#5731 Check logon language during uninstall
  src/repo/zcl_abapgit_repo.clas.abap
Labels: bug
