Repository abapGit/abapGit, pull requests merged in 2025-06, with the labels that each got.

#7284 Make Pull/Stage buttons visible if there are no changes
  src/ui/pages/zcl_abapgit_gui_page_repo_view.clas.abap
Labels: user interface, repo

#7282 PO UTF8 BOM and stage page duplication rule
  src/objects/texts/zcl_abapgit_po_file.clas.abap
  src/ui/pages/zcl_abapgit_gui_page_stage.clas.locals_imp.abap
Labels: translation, repo

#7290 Fix maintaining background settings
  src/ui/pages/sett/zcl_abapgit_gui_page_sett_bckg.clas.abap
Labels: bug, user interface

#7296 Remove duplicate exit call from diff page
  src/ui/pages/diff/zcl_abapgit_gui_page_diff_base.clas.abap
Labels: bug, exit

#7297 Remove package check when creating offline repo
  src/ui/routing/zcl_abapgit_services_repo.clas.abap
Labels: repo

#7300 Refactor: Move status calc to interface
  src/repo/status/package.devc.xml
  src/repo/status/zcl_abapgit_status_calc.clas.abap
  src/repo/status/zcl_abapgit_status_calc.clas.testclasses.abap
  src/repo/status/zcl_abapgit_status_calc.clas.xml
  src/repo/status/zif_abapgit_status_calc.intf.abap
  src/repo/status/zif_abapgit_status_calc.intf.xml
  src/repo/zcl_abapgit_repo_status.clas.abap
  src/repo/zcl_abapgit_repo_status.clas.testclasses.abap
  test/abap_transpile.json
Labels: refactoring, repo

#7310 Fix diff resetting .abapgit.xml
  src/repo/zcl_abapgit_repo_status.clas.abap
Labels: bug, repo

#7309 Refactor: tadir insert/delete
  src/objects/core/zcl_abapgit_tadir.clas.abap
  src/objects/core/zif_abapgit_tadir.intf.abap
  src/objects/tabl/zcl_abapgit_object_tabl.clas.abap
  src/objects/texts/zcl_abapgit_sotr_handler.clas.abap
  src/objects/zcl_abapgit_object_chdo.clas.abap
  src/objects/zcl_abapgit_object_devc.clas.abap
  src/objects/zcl_abapgit_objects.clas.abap
  src/objects/zcl_abapgit_objects_super.clas.abap
  src/persist/zcl_abapgit_persist_migrate.clas.abap
  src/repo/status/zcl_abapgit_status_calc.clas.testclasses.abap
  src/ui/flow/zcl_abapgit_flow_logic.clas.testclasses.abap
  src/ui/pages/zcl_abapgit_gui_page_chg_pckg.clas.abap
  src/zcl_abapgit_injector.clas.testclasses.abap
Labels: refactoring
